.monthlyCalculatorPage{
    margin-top: 25vh;
}


.upperButtons{
    border-color: black;
    background-color: white;
    margin-bottom: 3%;
    height: 13vh;
    width: 40vh;
}

.expenseTitle{
    font-size: 50px;
    font-weight: bold;
    margin-top: -3%;
    margin-bottom: 2%;
}


.remainingBalance{
    margin-left: 3%;
    position: absolute;
    width: 40vh;
    height: 100vh;
    background: white;
}


.cardsPanel{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    
}



